<span class="subscription">
  <% if subscription.user.present? %>
    <%= render subscription.user %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>
  <% if current_user_can_edit?(subscription) %>
    <%= link_to(
          fa_icon('times'), event_subscription_path(subscription.event, subscription),
          method: :delete, data: {
          title: t('.title'),
          confirm: t('.destroy_confirm'),
          commit: t('.commit'),
          cancel: t('.cancel')
        }) %>
  <% end %>
</span>
